body {
    background-color: #907dba;
    font-family: sans-serif;
}

h4 {
	color: #220c3d;
}

.line1 {
	color: #503778;
}

.line2 {
	font-family: serif;
	font-size: 24px;
	text-align: center;
}

#503778
#220c3d